fastapi
uvicorn[standard]
python-dotenv
pillow
passlib[bcrypt]
python-jose[cryptography]
email-validator
sqlalchemy
python-multipart
pyotp
qrcode[pil]
numpy

pytest
selenium
appium-python-client
openpyxl
